<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="checkout.css">

    <title>Alaweenie's: Online Ordering</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a id="navSiteName" class="navbar-brand" href="../index.html">Alaweenie's</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                </ul>
            </div>  
    </nav>

    <div class="jumbotron text-center">
        <h1 id="welcomeOnline">Online Ordering & Delivery</h1>
        <h3 style="display:none">Time to Checkout!</h3>
        <h3 style="display:none">Hi, User!</h3>
        <h3 style="display:none">Restaurant Location: City, State</h3>
</div>
  
    <div id="checkoutContainer" class="container">
            <h3>Order Information:</h3>
            <div class="row">
              <div class="col-sm-3">
                    <h4>Order</h4>
                    <ul>
                        <li id="hotDog" ></li>
                        <li id="coffee"></li>
                        <li id="side"></li>
                    </ul>
              </div>
              <div style="display:none" class="col-sm-3">
                    <h4>Item Prices</h4>
                    <ul>
                            <li>$0.00</li>
                            <li>$0.00</li>
                            <li>$0.00</li>
                    </ul>
              </div>
              <div class="col-sm-3">
                    <h4>Total</h4>
                    <ul>
                            <li id="totalPrice">$0.00</li>
                    </ul>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-2">
                        <h3>Address:</h3>
                        <form id="addressForm" class="form-group">
                                    <div class="form-group">
                                    <label for="number">Street Address:</label>
                                    <input type="text" class="form-control" id="addressInput" required>
                                    </div>

                                    <div class="form-group">
                                    <label for="">Apt/Suite/Floor:</label>
                                    <input type="text" class="form-control" id="addressTwoInput">
                                    </div>

                                    <div class="form-group">
                                    <label for="">City:</label>
                                    <input type="text" class="form-control" id="cityInput" required>
                                    </div>

                                    <div class="form-group">
                                    <label for="stateSelect">State</label>
                                    <select class="form-control" id="stateSelect">
                                        <option>IL</option>
                                        <option>PA</option>
                                        <option>OR</option>
                                    </select>
                                   </div>

                                   <div class="form-group">
                                    <label for="">Zip Code:</label>
                                    <input type="text" class="form-control" id="zipInput" required>
                                   </div>

                                  <!--<div class="btn-group">-->
                                  <!--<button class="btn btn-dark" id="locationSubmit">Submit Address</button>-->
                                  <!--<button class="btn btn-primary" id="preferredAddressInput">Submit as Preferred Address</button>-->
                                  <!--</div>-->
                        </form>
                </div>
            
            <div class="col-sm-2">
                    <h3>Driver:</h3>
                    <form>
                                <div class="form-group">
                                <label for="stateSelect">Driver Name:</label>
                                <select class="form-control" id="driverSelect">
                                    <option>Russell</option>
                                    <option>Marie</option>
                                </select>
                               </div>
                               
                               <!--<div class="btn-group-vertical">-->
                               <!--<button type="button" class="btn btn-info" id="favDriverButt">Submit as Favorite Driver</button>-->
                               <!--<button type="button"  class="btn btn-dark" id="driverButt">Select Driver</button>-->
                               <!--</div>-->
                    </form>
            </div>

            <div class="col-sm-2" style="margin-left: 25px">
                <h3>Options:</h3>
                <div class="btn-group-vertical">
                <button id="submitOrderButton" type="button" class="btn btn-success">Submit Order</button>
                <button id="editOrderButton" type="button" class="btn btn-secondary">Edit Order</button>
                <button id="cancelOrderButton" type="button" class="btn btn-danger">Cancel Order</button>
                </div>
            </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <!-- JS File to Grab Medium Articles -->
    <!--<script src="checkout.js"></script>-->
    <script>
        $(document).ready(function () {
            var order = JSON.parse(window.localStorage.getItem("order"));
            var hotDogOrderList = order[0];
            var coffeeOrderList = order[1];
            var sidesOrderList = order[2];
            var totalPrice = order[3];
            var customerId = order[4];
            var locationId = order[5];
            
            $.ajax({
               type: "GET",
               data: {'locationId' : locationId},
                   url: "/checkout/get_drivers/",
               success: function(data){
                    $("#driverSelect option").remove();  
                    var drivers = data.drivers;
                    for (var i = 0; i < drivers.length; i++) {
                        $('#driverSelect').append("<option value='" + drivers[i][0] + "'>" + drivers[i][1] + "</option>");
                    }
               }
            });
            
            let searchParams = new URLSearchParams(window.location.search);
            orderId = 0;
            if (searchParams.has('orderId')) {
                orderId = searchParams.get('orderId');
            }
            
            $('#hotDog').html(hotDogOrderList);
            $('#coffee').html(coffeeOrderList);
            $('#side').html(sidesOrderList);
            $('#totalPrice').html("$" + totalPrice);
            
            $('#editOrderButton').click(function(data) {
               redirectUrl = "http://alaweenies.web.illinois.edu/order/?customerId=" + customerId + "&orderId=" + orderId;
                window.location.replace(redirectUrl);
            });
            
            $('#cancelOrderButton').click(function(data) {
                $.ajax({
                   type: "POST",
                   data: {'orderId' : orderId},
                       url: "/order/cancel_order/",
                   success: function(data){
                        redirectUrl = "http://alaweenies.web.illinois.edu/login";
                        window.location.replace(redirectUrl);
                   }
                });
            });
            
            $('#submitOrderButton').click(function(data) {
                var addressInput = $('#addressInput').val();
                var addressTwoInput = $('#addressTwoInput').val();
                var cityInput = $('#cityInput').val();
                var stateInput = $('#stateSelect').find(':selected').text();
                var zipInput = $('#zipInput').val();
                if ((addressInput == "") || (cityInput == "") || (zipInput == "")) {
                    alert('Please enter address information');
                }
                else {  
                    var address = addressInput + " " + addressTwoInput + ", " + cityInput + ", " + stateInput + " " + zipInput;
                    var driverId = $('#driverSelect').find(":selected").val();
                    var order = [driverId];
                    // Update address for this customer
                    $.ajax({
                        type: "POST",
                        data: {'customerId' : customerId, 'address' : address},
                          url: "/checkout/update_address/",
                        success: function(data){
                           
                      }
                    });
                    
                    // Update driver for this order
                    $.ajax({
                        type: "POST",
                        data: {'orderId' : orderId, 'driverId' : driverId, 'address' : address},
                          url: "/checkout/update_driver/",
                        success: function(data){
                           
                      }
                    });
                    window.localStorage.setItem("order", JSON.stringify(order));
                    redirectUrl = "http://alaweenies.web.illinois.edu/tracking"
                    window.location.replace(redirectUrl);
            
                }    
            });
        });

    </script>
  </body>
</html>